/app/Providers/AppServiceProvider.php
/node_modules
/nbproject
/public/hot
/public/installer
/public/vendor
/public/storage
/public/.htaccess
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/ignorables/*
composer.lock
package-lock.json
yarn.lock
.htaccess

/packages/Webkul/Theme/src/Http/helpers.php
