@tailwind base;

@tailwind components;

@tailwind utilities;


@import url(https://fonts.googleapis.com/css?family=Lora);@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);@charset "UTF-8";

 /*UI*/
@import 'base/ui.css';

 /*Components*/
@import 'components/slider.css';


body {
    /*background: beige;*/
}


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

.container {
      max-width: 1300px;
      @apply .mx-auto;
}

.main-container-wrapper {
      max-width: 1300px;
      @apply .mx-auto .px-4;
}

.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-dark {
    background-color: rgba(0,0,0,0.7);
}

.border-inline {
    @apply .border-b .border-gold;
}

.search-container input {
    transition: .5s;
}

.breadcrumb {
 @apply .text-gray-light .uppercase .align-baseline .flex;
}

.breadcrumb > li:not(:last-child):after  {
    content: '/';
    padding: 0 2px;
}

.breadcrumb .breadcrumb-item a {
    @apply .border-b .border-transparent;
    transition: .5s;
}

.breadcrumb .breadcrumb-item a:hover {
    @apply .border-b .border-gray-light;
    transition: .5s ease;
}

.history-icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/history.png);
    background-position: top center;
    background-repeat: no-repeat;
}
.history-icon.active
{
        background-position-y: -18px;
}

.leaving-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/leaving.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.mail-icon {
    width: 19px;
    height: 16px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/mail.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.mail-icon.active {
    background-position-y: -17px;
}

.address-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/address.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.profile-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/profile.png);
    background-position: top center;
    background-repeat: no-repeat;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}



.checkout-steps li.active .profile-icon,.address-icon.active, .profile-icon.active
{
    background-position-y: -25px;
}


.checkout-method-group .line-one {
    display: inline-flex;
    align-items: center;
}

.checkout-method-group .line-one .radio-container {
    padding-left: 28px;
}

.checkout-method-group .line-one .method-label {
    margin-top: 4px;
}

.checkout-method-group .line-two {
    margin-left: 30px;
}



/* The container */

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Create a custom radio button */
    /* Create the indicator (the dot/circle - hidden when not checked) */
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0px;
    left: 0px;
}

.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 2px solid #dfa46d;
    border-radius: 50%;
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #dfa46d;
}

/* Show the indicator (dot/circle) when checked */

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Show the indic */

.radio-container input:disabled ~ .checkmark {
    display: block;
    border: 2px solid rgba(255, 100, 113, 0.4);
}

.cp-spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.cp-round:before {
    border-radius: 50%;
    border: 6px solid #bababa
}

.cp-round:after, .cp-round:before {
    content: " ";
    width: 48px;
    height: 48px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0
}

.cp-round:after {
    border-radius: 50%;
    border-top: 6px solid #dfa46d;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite
}

/*css for loader*/
.cp-spinner {
   position: absolute;
   left: calc(50% - 24px);
   margin-top: calc(40% - 24px);
}

.load-more span {
    display: none;
}

@media only screen and (max-width: 720px) {
    .cp-spinner {
        left: 50%;
        margin-left: -24px;
        top: 50%;
        margin-top: -24px;
    }
}



.account-items-list {
    display: block;
    width: 100%;
}

.account-items-list .grid-container {
    margin-top: 40px;
}

.search-result-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    margin-top: 20px;
}


.user-icon{
    width: 27px;
    height: 27px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/user.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.cart-icon{
    width: 27px;
    height: 27px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/shopping-bag.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.user-icon:hover,
.user-icon:focus,
.user-icon.active,
.cart-icon:hover,.cart-icon:focus,.cart-icon:active
{
    background-position-y: -31px;
}

.btn-primary,
.button-decor {
    background-image: url(/themes/custom/assets/images/button.png);
    background-position: top center;
    background-repeat: no-repeat;
    @apply .font-serif .text-white .text-center .cursor-pointer .outline-none .bg-cover .bg-center .inline-block;
}

.btn-primary:hover,
.btn-primary:focus,
.button-decor:hover,
.button-decor:focus {
    outline: none;
    background-image: url(/themes/custom/assets/images/button-hover.png);
    transition: 0.3s;
}

.button-black {
    @apply  .font-serif .outline-none .font-medium .bg-black .text-center .text-white .uppercase .cursor-pointer .py-4;
}

.button-black:hover,
.button-black:focus {
    @apply  .bg-gray-dark .font-medium .text-white;
    transition: 0.3s;
}

.dropdown-list.dropdown-container .apply-filter {
    @apply .button-black .px-3 .py-3 .normal-case;
}

.pay-cards {
    width: 215px;
    height: 33px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/cards.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-blooper {
    background-image: url(/themes/custom/assets/images/banner/bg-blooper.png);
}

.bg-faq {
    background-image: url(/themes/custom/assets/images/banner/bg-faq.jpg);
}

.checkout-process .col-main ul.checkout-steps li .decorator {
    height: 24px;
    width: 28px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
}

.checkout-process .col-main ul.checkout-steps li .decorator.shipping {
    background-image: url(/themes/custom/assets/images/shipping.png);
}

.checkout-process .col-main ul.checkout-steps li .decorator.payment {
    background-image: url(/themes/custom/assets/images/payment.png);
}

.checkout-process .col-main ul.checkout-steps li.completed {
    cursor: pointer;
}

/*.checkout-process .col-main ul.checkout-steps li.completed .decorator {*/
/*    background-image: url(/images/complete.svg?e5e27a0bb3e6d736df8a208ec8294e17);*/
/*}*/

.checkout-process .col-main ul.checkout-steps li .title {
    @apply .text-gray-dark;
}

.checkout-process .col-main ul.checkout-steps li.active .title {
    @apply .text-gold;
}

/*.checkout-process .col-main ul.checkout-steps li.active .decorator {*/
/*    border: 1px solid #2650EF;*/
/*}*/


.horizontal-rule {
    display: block;
    width: 100%;
    height: 1px;
    background: #C7C7C7;
}


/* site menu */
.nav-menu-info,
#header-bottom .arrow-menu{
    display: none;
}
#header-bottom>ul{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 20px;
    color: #969696;
}
#header-bottom>ul>li>a{
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 15px;
    padding-right: 15px;

}
#header-bottom>ul>li:hover>a{
    color: #dfa46d;
    border-bottom: 1px solid #dfa46d;
}
#header-bottom>ul>li>.nav-level{
    position: absolute;
    left: -999999px
}
#header-bottom>ul>li:hover>.nav-level{
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 2rem;
    background: #212121;
    z-index: 1001;
}
#header-bottom>ul>li:hover>.nav-level{
    display: block;
    padding: 30px 200px;
    justify-content: space-between;
    min-height: 512px;
}
#header-bottom>ul>li:hover>.nav-level>ul{
    position: relative;
    min-height: 452px;
}
#header-bottom>ul>li:hover>.nav-level>ul:after{
    content: "";
    border-right: 1px solid #969696;
    position: absolute;
    left: 33%;
    top: 10%;
    bottom: 10%;
    margin-left: -6px;
}
#header-bottom>ul>li:hover>.nav-level>ul>li{
    display: flex;
}
#header-bottom>ul>li>.nav-level>ul>li:hover>.nav-menu-info,
#header-bottom>ul>li>a:hover~.nav-level>ul>li:first-child>.nav-menu-info {
    display: flex;
    position: absolute;
    left: 33%;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
}
#header-bottom>ul>li>.nav-level>ul>li:hover>a{
    color: white;
    text-decoration: underline;
}
#header-bottom>ul>li:hover>.nav-level>ul>li>a,
#header-bottom>ul>li:hover>.nav-level>ul>li>.nav-menu-info>.img-nav-block,
#header-bottom>ul>li:hover>.nav-level>ul>li>.nav-menu-info>.desc-nav-block{
    flex: 1 1 50%;
    padding: 3px 50px;
    word-break: break-all;
    text-transform: uppercase;
}

/* first-child */
#header-bottom>ul>li:first-child:hover>.nav-level{
/*    padding: 30px 200px;
    min-height: 512px;*/
}
#header-bottom>ul>li:first-child:hover>.nav-level>ul{
    display: flex;
    justify-content: space-between;
}
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li{
    flex: 1 1 33%;
    position: relative;
    display: block;
}
#header-bottom>ul>li:first-child>a:hover~.nav-level>ul>li:first-child>.nav-menu-info,
#header-bottom>ul>li:first-child>.nav-level>ul>li>.nav-level>ul>li>.nav-menu-info,
#header-bottom>ul>li:first-child>.nav-level>ul>li>.nav-menu-info,
#header-bottom>ul>li:first-child>.nav-level>ul>li:hover>.nav-menu-info,
#header-bottom>ul>li:first-child:hover.nav-menu-info{
    display: none;
}
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li:after{
    content: "";
    border-right: 1px solid #969696;
    position: absolute;
    right: 10px;
    top: 10%;
    bottom: 10%;
}
#header-bottom>ul>li:first-child:hover>.nav-level>ul:after,
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li:last-child:after{
    content: "";
    border-right: none;
}
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li>a{
    display: block;
    text-align: center;
    color: #969696;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 10px;

}
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li>a:hover,
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li>.nav-level>ul>li>a:hover{
    text-decoration: underline;
    color: #fff;
}
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li>.nav-level>ul{
    padding: 10px 50px;
}
#header-bottom>ul>li:first-child:hover>.nav-level>ul>li>.nav-level>ul>li>a{
    color: #969696;
    text-transform: uppercase;
    transition: .5s;
    padding: 3px 0;
    display: block;
    line-height: 20px;
}
.header-cart-line{
    padding: 30px 10px;
}
/* first-child */
@media(max-width: 1366px){
    #header-bottom>ul>li:hover>.nav-level{
        padding: 30px 30px;
    }
}
@media(max-width: 1200px){
    #header-bottom>ul>li>a{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
}
@media(max-width: 1024px){
    #header-bottom>ul>li>a{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    #header-bottom>ul>li:hover>.nav-level{
        padding: 30px 30px;
    }
    #header-bottom>ul>li:hover>.nav-level>ul>li>.nav-menu-info>.desc-nav-block{
        font-size: 12px;
        max-height: 450px;
        overflow: hidden;
        padding: 3px 25px;
    }
}
@media(max-width: 770px){
    #header-bottom{
        display: flex;
    }
    #header-bottom>ul>li>a {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 12px;
    }
    .main-container-wrapper>.sm\:w-56{
        width: 10rem !important;
    }
    .right-content>.px-10 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
@media(max-width: 640px){
    .header-cart-line{
        padding: 30px 10px;
    }
    .search-container form input{
        padding: 0 10px;
    }
    .search-container form,
    .search-container form input{
        width: 100% !important;
    }
    #header-bottom .arrow-menu{
        display: block;
    }
    #header-bottom{
        position: absolute;
        z-index: 1002;
    }
    #header-bottom>ul{
        display: block;
        padding: 10px;
        background: #212121;
    }
    #header-bottom>ul>li>a{
        padding: 0;
        font-size: 16px;
    }
    #header-bottom>ul>li>.nav-level{
        position: relative;
        left: auto;
    }
    #header-bottom>ul>li>.nav-level>ul>li>a{
        padding: 10px 10px 10px 20px;
    }
    #header-bottom>ul>li>.nav-level>ul>li>.nav-level>ul{
        padding: 10px 10px 10px 30px;
    }
    #header-bottom li{
        position: relative;
        padding: 10px 0;
    }
    #header-bottom .nav-level,
    #header-bottom>ul>li:hover>.nav-level {
        display: none;
    }
    #header-bottom>ul>li:first-child:hover>.show-subnav,
    #header-bottom>ul>li:hover>.show-subnav,
    #header-bottom>ul>li>.show-subnav,
     #header-bottom>ul>li:first-child:hover>.show-subnav>ul>li>.show-subnav,
    #header-bottom>ul>li:hover>.show-subnav>ul>li>.show-subnav,
    #header-bottom>ul>li>.show-subnav>ul>li>.show-subnav{
        display: block;
        padding: 0;
        position: relative;
        min-height: auto;
        margin: 20px 0;
    }
    #header-bottom>ul>li:first-child:hover>.show-subnav>ul,
    #header-bottom>ul>li:hover>.show-subnav>ul,
    #header-bottom>ul>li>.show-subnav>ul{
        display: block;
        min-height: auto;
    }
    #header-bottom>ul>li:first-child:hover>.show-subnav>ul>li>.show-subnav>ul,
    #header-bottom>ul>li:hover>.show-subnav>ul>li>.show-subnav>ul,
    #header-bottom>ul>li>.show-subnav>ul>li>.show-subnav>ul{
        display: block;
        text-align: left;
        color: #969696;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
    }
    #header-bottom>ul>li:hover>.nav-level>ul:after,
    #header-bottom>ul>li:first-child:hover>.show-subnav>ul>li:after {
        content: "";
        border-right: none;
        position: absolute;
    }
    #header-bottom>ul>li:first-child:hover>.show-subnav>ul>li>a,
    #header-bottom>ul>li>.show-subnav>ul>li>a{
        display: block;
        text-align: left;
        color: #969696;
        text-transform: uppercase;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
    }
    #header-bottom>ul>li:hover>a,
    #header-bottom>ul>li:active>a,
    #header-bottom>ul>li>.show-subnav>ul>li:hover>a,
    #header-bottom>ul>li>.show-subnav>ul>li:active>a,
    #header-bottom>ul>li:first-child>.show-subnav>ul>li:hover>a,
    #header-bottom>ul>li:first-child>.show-subnav>ul>li:active>a{
        text-decoration: none;
        color: #dfa46d;
        border-bottom: none;
    }
    div.arrow-menu{
        position: absolute;
        top: 0;
        width: 50%;
        right: 0;
        padding-right: 10px;
        z-index: 1002;
        color: white;
        font-size: 22px;
        font-weight: bold;
        text-align: right;
    }
    #header-bottom>ul>li:hover>div.arrow-menu,
    #header-bottom>ul>li:active>div.arrow-menu,
    #header-bottom>ul>li>.show-subnav>ul>li:hover>div.arrow-menu,
    #header-bottom>ul>li>.show-subnav>ul>li:active>div.arrow-menu{
        color: #dfa46d;
    }
    #header-bottom>ul>li>.nav-level>ul>li:hover>.nav-menu-info,
    #header-bottom>ul>li>a:hover~.nav-level>ul>li:first-child>.nav-menu-info {
        display: none;
    }
}



.header div.right-content .right-content-menu .cart-link {
    pointer-events: none;
}



.list-group .list-item {
    @apply .border-b .border-transparent .cursor-pointer;
    transition: .5s;
}

.list-group .list-item:hover {
    @apply .border-b .border-white;
    transition: .5s;
}

.sticker {
    @apply .bg-scarlet .absolute .bottom-0 .right-0 .h-12 .py-2 .px-4 .text-xl .text-white .uppercase;
}

.details .product-price .sticker {
    display: none;
}

.product-card .product-information div {
    min-height: 1.5rem;
}

.product-card .product-information .product-name {
    min-height: 4rem;
}

.product-card .product-image {
    min-height: 19rem;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    min-width: 120px;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    max-height: 480px;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame {
    border: 2px solid transparent;
    background: transparent;
    width: 120px;
    max-height: 120px;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame.active {
    border-color: #969696;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame img {
    height: 100%;
    width: 100%;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control {
    width: 100%;
    position: absolute;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control .overlay {
    opacity: 0.3;
    background: #242424;
    width: 100%;
    height: 18px;
    position: absolute;
    left: 0;
    z-index: -1;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control .icon {
    z-index: 2;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control.top {
    top: 0;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control.bottom {
    bottom: 0;
}



.btn {
    border-radius: 0px !important;
}

.icon {
    display: inline-block;
    background-size: cover;
}

.grid-view-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect id="1" x="0" y="0" width="10" height="10"></rect><rect id="2" x="0" y="14" width="10" height="10"></rect><rect id="3" x="14" y="0" width="10" height="10"></rect><rect id="4" x="14" y="14" width="10" height="10"></rect></svg>');
    width: 24px;
    height: 24px;

}

.list-view-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">                <rect id="4" x="0" y="0" width="10" height="10"></rect> <rect id="4" x="0" y="14" width="10" height="10"></rect><rect id="Rectangle-4" x="12" y="0" width="12" height="3"></rect><rect id="Rectangle-4-Copy" x="12" y="5" width="10" height="3"></rect><rect id="Rectangle-4" x="12" y="14" width="12" height="3"></rect><rect id="Rectangle-4-Copy" x="12" y="19" width="10" height="3"></rect></svg>');
    width: 24px;
    height: 24px;
}

.arrow-up-icon, .accordian-up-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray" role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

.filter-icon-off {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none" stroke="gray" role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

.arrow-down-icon, .accordian-down-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray"  role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

.filter-icon-on {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none" stroke="gray"  role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

/*.sort-icon {*/
/*    background-image: URL("/themes/default/assets/images/icon-sort.svg");*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/



/*.dropdown-right-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-dropdown-left.svg')*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    margin-left: auto;*/
/*    margin-bottom: 2px;*/
/*}*/

.icon-menu-close {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
    background-repeat: no-repeat;
}

.icon-menu-close-adj {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
    width: 32px;
    height: 32px;
    margin-left: auto;
}


.check-mark {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Peru" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
    background-repeat: no-repeat;
    @apply .pl-8;
}



/*.grid-view-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-grid-view.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.list-view-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-list-view.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.whishlist-icon {*/
/*    background-image: url(/themes/custom/assets/images/wishlist.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.share-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-share.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

.icon-menu {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>');
    /*@apply .h-6 .w-6;*/
}

.icon-arrow-down {
    background-image: url('/themes/custom/assets/images/arrow-down.svg');
    width: 16px;
    height: 16px;
}

.icon-arrow-up {
    background-image: url('/themes/custom/assets/images/arrow-up.svg');
    width: 16px;
    height: 16px;
}



.icon-search {
    background-image: url(/themes/default/assets/images/icon-search.svg);
    width: 24px;
    height: 24px;
}

.icon-menu-back {
    background-image: url(/themes/default/assets/images/icon-menu-back.svg);
    width: 24px;
    height: 24px;
}

/*.shipping-icon {*/
/*    background-image: url(/themes/custom/assets/images/shipping.svg')*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/

.payment-icon {
    background-image: url(/themes/custom/assets/images/payment-icon.png);
    width: 30px;
    height: 35px;
}

/*.cart-icon {*/
/*    background-image: url("/themes/custom/assets/images/icon-cart.svg");*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.wishlist-icon {*/
/*    background-image: url(/themes/custom/assets/images/wishlist.svg')*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/

/*.expand-icon {*/
/*    background-image: url("/themes/custom/assets/images/Expand-Light.svg");*/
/*    width: 18px;*/
/*    height: 18px;*/
/*}*/

/*.expand-on-icon {*/
/*    background-image: url("/themes/custom/assets/images/Expand-Light-On.svg");*/
/*    width: 18px;*/
/*    height: 18px;*/
/*}*/

/*.icon-menu-close-adj {*/
/*    background-image: url("/themes/custom/assets/images/cross-icon-adj.svg");*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/

.icon-facebook {
    background-image: url("/themes/custom/assets/images/facebook.svg");
    width: 40px;
    height: 40px;
}

.icon-instagram {
    background-image: url("/themes/custom/assets/images/instagram.svg");
    width: 40px;
    height: 40px;
}

.icon-youtube {
    background-image: url("/themes/custom/assets/images/youtube.svg");
    width: 40px;
    height: 40px;
}

/*.icon-dropdown {*/
/*    background-image: url("/themes/custom/assets/images/icon-dropdown.svg");*/
/*}*/



/*.checkbox {*/
/*    position: relative;*/
/*    display: block;*/
/*    vertical-align: middle;*/
/*}*/

/*.checkbox input {*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*    z-index: 100;*/
/*}*/

/*.checkbox .checkbox-view {*/
/*    background-image: url("/themes/custom/assets/images/Checkbox.svg");*/
/*    height: 24px;*/
/*    width: 24px;*/
/*    margin: 0;*/
/*    display: inline-block !important;*/
/*    vertical-align: middle;*/
/*    margin-right: 5px;*/
/*}*/

/*.checkbox input:checked + .checkbox-view {*/
/*    background-image: url("/themes/custom/assets/images/Checkbox-Checked.svg");*/
/*}*/

/*.checkbox input:disabled + .checkbox-view {*/
/*    opacity: 0.5;*/
/*    cursor: not-allowed;*/
/*}*/





.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content {
    padding: 10px;
    display: none;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items {
    padding: 0;
    margin: 0;
    list-style: none none;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item {
    padding: 8px 0;
    color: #5E5E5E;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox {
    margin: 0;
}
.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox .checkbox-view,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox .checkbox-view {
    height: 16px;
    width: 16px;
    background-image: url(/themes/custom/assets/images/checkbox.svg?c3dbe347b49aaab5dc7e8332f51c9bf5);
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox input:checked + .checkbox-view,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox input:checked + .checkbox-view {
    background-image: url(/themes/custom/assets/images/checkbox-checked.svg?802912fd437c681ee53580c8b2635f94);
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .color-swatch,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .color-swatch {
    display: inline-block;
    margin-right: 5px;
    min-width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    float: right;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content .price-range-wrapper,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content .price-range-wrapper {
    margin-top: 21px;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item.active .filter-attributes-content,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item.active .filter-attributes-content {
    display: block;
}


/*account-content*/
.account-content .menu-block .menubar li a {
    @apply .w-full .text-gray-dark;
}

.account-content .menu-block .menubar li .icon {
    display: none;
    position: absolute;
    right: 12px;
}

.account-content .menu-block .menubar li:first-child {
    border-top: none;
}

.account-content .menu-block .menubar li:last-child {
    border-bottom: none;
}

.account-content .menu-block .menubar li.active a {
    @apply .text-gold .border-b .border-gold;
}

.account-content .menu-block .menubar li.active .icon {
    display: inline-block;
}

.account-content .account-layout .account-head .back-icon {
    display: none;
}

.account-content .account-layout .responsive-empty {
    display: none;
}

.account-table-content {
    @apply  .mt-2 .text-gray-cloud .text-lg;
}

.account-table-content table {
    width: 100%;
}

.account-table-content table tbody tr {
    @apply .h-12;
}

.account-table-content table tbody tr td:last-child {
    @apply .font-serif .text-gray-dark;
}

.address-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.address-card {
    width: 100%;
    border: 1px solid #C7C7C7;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.address-card .control-group {
    width: 15px;
    height: 15px;
    margin-top: 10px;
}

.address-card .details {
    font-weight: lighter;
}

.address-card .details span {
    display: block;
}

.address-card .details .control-links {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.address-card .details .control-links .btn {
    height: 30px;
}

/*end account-content*/








@media all and (max-width: 720px) {
    .header-bottom {
        height: auto;
        display: none;
    }
    .list-group .list-item:hover {
        @apply .text-gray-dark .border-b .border-gray-dim;
    }
    .md-bg-shift {
        background-position-x: -150px;
    }
    .hero-content .md-bg-shift {
        background-position-x: -830px;
    }
}


/* Small (sm) */
@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}

/* Medium (md) */
@media (min-width: 768px) {
    .container-inner {
        max-width: 768px;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    .container-inner {
        max-width: 800px;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /*    .main-container-wrapper {*/
    /*        max-width: 960px;*/
    /*    }*/
    .container-inner {
        max-width: 1280px;
    }
}

@media only screen and (max-width: 770px) {
    .table .grid-container {
        margin-top: 10px;
        overflow-x: hidden
    }

    .table .grid-container .filter-row-one {
        display: block
    }

    .table .grid-container .filter-row-one .dropdown-filters {
        margin-top: 10px
    }
}

@media only screen and (max-width: 720px) {
    .rtl section.slider-block div.slider-content div.slider-control {
        left: 0
    }
}

@media only screen and (max-width: 1200px) {
    .main-container-wrapper {
        max-width: 960px;
    }
}
