@tailwind base;

@tailwind components;

@tailwind utilities;


@import url(https://fonts.googleapis.com/css?family=Lora);@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);@charset "UTF-8";

 /*UI*/
@import 'base/ui.css';

 /*Components*/
@import 'components/slider.css';


body {
    /*background: beige;*/
}


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

.container {
      max-width: 1300px;
      @apply .mx-auto;
}

.main-container-wrapper {
      max-width: 1300px;
      @apply .mx-auto .px-4;
}

.container-inner {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-dark {
    background-color: rgba(0,0,0,0.7);
}

.border-inline {
    @apply .border-b .border-gold;
}

.search-container input {
    transition: .5s;
}

.breadcrumb {
 @apply .text-gray-light .uppercase .align-baseline .flex;
}

.breadcrumb > li:not(:last-child):after  {
    content: '/';
    padding: 0 2px;
}

.breadcrumb .breadcrumb-item a {
    @apply .border-b .border-transparent;
    transition: .5s;
}

.breadcrumb .breadcrumb-item a:hover {
    @apply .border-b .border-gray-light;
    transition: .5s ease;
}

.history-icon {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/history.png);
    background-position: top center;
    background-repeat: no-repeat;
}
.history-icon.active
{
    background-position-y: -18px;
}

.leaving-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/leaving.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.mail-icon {
    width: 19px;
    height: 16px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/mail.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.mail-icon.active {
    background-position-y: -17px;
}

.address-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/address.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.profile-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/profile.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.checkout-steps li.active .profile-icon,.address-icon.active, .profile-icon.active
{
    background-position-y: -25px;
}


.checkout-method-group .line-one {
    display: inline-flex;
    align-items: center;
}

.checkout-method-group .line-one .radio-container {
    padding-left: 28px;
}

.checkout-method-group .line-one .method-label {
    margin-top: 4px;
}

.checkout-method-group .line-two {
    margin-left: 30px;
}



/* The container */

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* Create a custom radio button */
    /* Create the indicator (the dot/circle - hidden when not checked) */
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0px;
    left: 0px;
}

.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 2px solid #dfa46d;
    border-radius: 50%;
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #dfa46d;
}

/* Show the indicator (dot/circle) when checked */

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Show the indic */

.radio-container input:disabled ~ .checkmark {
    display: block;
    border: 2px solid rgba(255, 100, 113, 0.4);
}


.account-items-list {
    display: block;
    width: 100%;
}

.account-items-list .grid-container {
    margin-top: 40px;
}

.search-result-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    margin-top: 20px;
}


















.user-icon{
    width: 27px;
    height: 27px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/user.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.cart-icon{
    width: 27px;
    height: 27px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/shopping-bag.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.user-icon:hover,
.user-icon:focus,
.user-icon.active,
.cart-icon:hover,.cart-icon:focus,.cart-icon:active
{
    background-position-y: -31px;
}


.button-decor {
    background-image: url(/themes/custom/assets/images/button.png);
    background-position: top center;
    background-repeat: no-repeat;
    @apply .font-serif .text-white .text-center .cursor-pointer .outline-none .bg-cover .bg-center .inline-block;
}

.button-decor:hover,
.button-decor:focus {
    outline: none;
    background-image: url(/themes/custom/assets/images/button-hover.png);
    transition: 0.3s;
}

.button-black {
    @apply  .font-serif .outline-none .font-medium .bg-black .text-center .text-white .uppercase .cursor-pointer .py-4;
}

.button-black:hover,
.button-black:focus {
    @apply  .bg-gray-dark .font-medium .text-white;
    transition: 0.3s;
}

.dropdown-list.dropdown-container .apply-filter {
    @apply .button-black .px-3 .py-3 .normal-case;
}

.pay-cards {
    width: 215px;
    height: 33px;
    display: inline-block;
    background-image: url(/themes/custom/assets/images/cards.png);
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-blooper {
    background-image: url(/themes/custom/assets/images/banner/bg-blooper.png);
}

.bg-faq {
    background-image: url(/themes/custom/assets/images/banner/bg-faq.jpg);
}

.checkout-process .col-main ul.checkout-steps li .decorator {
    height: 24px;
    width: 28px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
}

.checkout-process .col-main ul.checkout-steps li .decorator.shipping {
    background-image: url(/themes/custom/assets/images/shipping.png);
}

.checkout-process .col-main ul.checkout-steps li .decorator.payment {
    background-image: url(/themes/custom/assets/images/payment.png);
}

.checkout-process .col-main ul.checkout-steps li.completed {
    cursor: pointer;
}

/*.checkout-process .col-main ul.checkout-steps li.completed .decorator {*/
/*    background-image: url(/images/complete.svg?e5e27a0bb3e6d736df8a208ec8294e17);*/
/*}*/

.checkout-process .col-main ul.checkout-steps li .title {
    @apply .text-gray-dark;
}

.checkout-process .col-main ul.checkout-steps li.active .title {
    @apply .text-gold;
}

/*.checkout-process .col-main ul.checkout-steps li.active .decorator {*/
/*    border: 1px solid #2650EF;*/
/*}*/


.horizontal-rule {
    display: block;
    width: 100%;
    height: 1px;
    background: #C7C7C7;
}




.header .header-bottom ul.nav {
    @apply .uppercase .text-white .items-center .block;
}

.header .header-bottom  ul.nav a:hover {
    @apply .text-gold .border-b .border-gold;
    transition: 0.5s;
}

.nav-item {
    @apply .inline .tracking-wide .flex .items-center .bg-transparent;
    transition: 0.5s;
}

.header .header-bottom .nav > li .nav-level {
    position: absolute;
    z-index: 10000;
    transition: 0.6s;

    @apply .h-0 .w-full .bg-gray-dark .px-20;
}

.nav-level a {
    @apply .capitalize .text-gray-cloud .border-b .border-transparent;
}

.header .header-bottom .nav > li .nav-level > div {
    position: absolute;

    @apply .w-1/5 .h-96 .my-10 .px-10 .mx-auto .flex .justify-center .flex-wrap .overflow-y-auto;
}

.header .header-bottom .nav > li .nav-level > div ul li {
    @apply .py-2;
}

.header .header-bottom .nav > li .nav-level > div ul li a:hover
{
    @apply .text-white .border-b .border-white;
}

.header .header-bottom .nav > li:hover > .nav-level {
    left: auto;
    transition: height .6s cubic-bezier(.05,.5,.3,1);
    transition-property: height;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.05, 0.5, 0.3, 1);
    transition-delay: 0s;
    @apply .left-0 .mx-auto .flex .content-center .h-120 .block;
}

.header .header-bottom .nav > li > .nav-level,
.header .header-bottom .nav > li > .nav-level .nav-level
{
    /*position: absolute;*/
    /*white-space: nowrap;*/
    /*!*border: 1px solid #C7C7C7;*!*/
    /*!*background-color: white;*!*/
    /*transition: 0.5s;*/
    /*z-index: 10000;*/
    left: -99999em;
    /*@apply .hidden;*/
}

.header .header-bottom .nav > li .nav-level > div ul li a:hover > .nav-level > div  {
    right: auto;
    transition: height .6s cubic-bezier(.05,.5,.3,1);
    transition-property: height;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.05, 0.5, 0.3, 1);
    transition-delay: 0s;
    @apply .mx-auto .flex .content-center .h-120 .block;
}



.header .header-bottom .nav li {
    /*position: relative;*/
}

.header .header-bottom .nav > li {
    /*float: left;*/
    /*margin-right: 1px;*/
    /*height: 45px;*/
}

.header .header-bottom .nav > li > a .icon {
    /*display: none;*/
}

.header .header-bottom .nav li li a {
    /*margin-top: 1px;*/
    /*white-space: initial;*/
    /*word-break: break-word;*/
    /*width: 200px;*/
}

.header .header-bottom .nav li a:first-child:nth-last-child(2):before {
    /*content: "";*/
    /*position: absolute;*/
    /*height: 0;*/
    /*width: 0;*/
    /*border: 5px solid transparent;*/
    /*top: 0%;*/
    /*right: 5px;*/
}

.header .header-bottom .nav > li > a {
    transition: 0.5s;
    @apply .py-8 .border-b .border-transparent;
}

.header div.right-content .right-content-menu .cart-link {
    pointer-events: none;
}



.list-group .list-item {
    @apply .border-b .border-transparent .cursor-pointer;
    transition: .5s;
}

.list-group .list-item:hover {
    @apply .border-b .border-white;
    transition: .5s;
}

.sticker {
    @apply .bg-scarlet .absolute .bottom-0 .right-0 .h-12 .py-2 .px-4 .text-xl .text-white .uppercase;
}

.details .product-price .sticker {
    display: none;
}

.product-card .product-information div {
    min-height: 1.5rem;
}

.product-card .product-information .product-name {
    min-height: 4rem;
}

.product-card .product-image {
    min-height: 19rem;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list {
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    min-width: 120px;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    max-height: 480px;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame {
    border: 2px solid transparent;
    background: transparent;
    width: 120px;
    max-height: 120px;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame.active {
    border-color: #969696;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .thumb-frame img {
    height: 100%;
    width: 100%;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control {
    width: 100%;
    position: absolute;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control .overlay {
    opacity: 0.3;
    background: #242424;
    width: 100%;
    height: 18px;
    position: absolute;
    left: 0;
    z-index: -1;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control .icon {
    z-index: 2;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control.top {
    top: 0;
}

section.product-detail div.layouter .form-container div.product-image-group div .thumb-list .gallery-control.bottom {
    bottom: 0;
}




.icon {
    display: inline-block;
    background-size: cover;
}

.grid-view-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect id="1" x="0" y="0" width="10" height="10"></rect><rect id="2" x="0" y="14" width="10" height="10"></rect><rect id="3" x="14" y="0" width="10" height="10"></rect><rect id="4" x="14" y="14" width="10" height="10"></rect></svg>');
    width: 24px;
    height: 24px;

}

.list-view-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">                <rect id="4" x="0" y="0" width="10" height="10"></rect> <rect id="4" x="0" y="14" width="10" height="10"></rect><rect id="Rectangle-4" x="12" y="0" width="12" height="3"></rect><rect id="Rectangle-4-Copy" x="12" y="5" width="10" height="3"></rect><rect id="Rectangle-4" x="12" y="14" width="12" height="3"></rect><rect id="Rectangle-4-Copy" x="12" y="19" width="10" height="3"></rect></svg>');
    width: 24px;
    height: 24px;
}

.arrow-up-icon, .accordian-up-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray-grey" role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

.filter-icon-off {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none" stroke="gray-grey" role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

.arrow-down-icon, .accordian-down-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray"  role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

.filter-icon-on {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none" stroke="gray"  role="button" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>');
    width: 24px;
    height: 24px;
}

/*.sort-icon {*/
/*    background-image: URL("/themes/default/assets/images/icon-sort.svg");*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/



/*.dropdown-right-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-dropdown-left.svg')*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    margin-left: auto;*/
/*    margin-bottom: 2px;*/
/*}*/

.icon-menu-close {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
    background-repeat: no-repeat;
}

.icon-menu-close-adj {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
    width: 32px;
    height: 32px;
    margin-left: auto;
}


.check-mark {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Peru" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
    background-repeat: no-repeat;
    @apply .pl-8;
}



/*.grid-view-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-grid-view.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.list-view-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-list-view.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.whishlist-icon {*/
/*    background-image: url(/themes/custom/assets/images/wishlist.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.share-icon {*/
/*    background-image: url(/themes/custom/assets/images/icon-share.svg')*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

.icon-menu {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>');
    /*@apply .h-6 .w-6;*/
}

.icon-arrow-down {
    background-image: url('/themes/custom/assets/images/arrow-down.svg');
    width: 16px;
    height: 16px;
}

.icon-arrow-up {
    background-image: url('/themes/custom/assets/images/arrow-up.svg');
    width: 16px;
    height: 16px;
}



.icon-search {
    background-image: url(/themes/default/assets/images/icon-search.svg);
    width: 24px;
    height: 24px;
}

.icon-menu-back {
    background-image: url(/themes/default/assets/images/icon-menu-back.svg);
    width: 24px;
    height: 24px;
}

/*.shipping-icon {*/
/*    background-image: url(/themes/custom/assets/images/shipping.svg')*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/

.payment-icon {
    background-image: url(/themes/custom/assets/images/payment-icon.png);
    width: 30px;
    height: 35px;
}

/*.cart-icon {*/
/*    background-image: url("/themes/custom/assets/images/icon-cart.svg");*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.wishlist-icon {*/
/*    background-image: url(/themes/custom/assets/images/wishlist.svg')*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/

/*.expand-icon {*/
/*    background-image: url("/themes/custom/assets/images/Expand-Light.svg");*/
/*    width: 18px;*/
/*    height: 18px;*/
/*}*/

/*.expand-on-icon {*/
/*    background-image: url("/themes/custom/assets/images/Expand-Light-On.svg");*/
/*    width: 18px;*/
/*    height: 18px;*/
/*}*/

/*.icon-menu-close-adj {*/
/*    background-image: url("/themes/custom/assets/images/cross-icon-adj.svg");*/
/*    width: 32px;*/
/*    height: 32px;*/
/*}*/

/*.icon-facebook {*/
/*    background-image: url("/themes/custom/assets/images/facebook.svg");*/
/*}*/

/*.icon-twitter {*/
/*    background-image: url("/themes/custom/assets/images/twitter.svg");*/
/*}*/

/*.icon-google-plus {*/
/*    background-image: url("/themes/custom/assets/images/google-plus.svg");*/
/*}*/

/*.icon-instagram {*/
/*    background-image: url("/themes/custom/assets/images/instagram.svg");*/
/*}*/

/*.icon-linkedin {*/
/*    background-image: url("/themes/custom/assets/images/linkedin.svg");*/
/*}*/

/*.icon-dropdown {*/
/*    background-image: url("/themes/custom/assets/images/icon-dropdown.svg");*/
/*}*/



/*.checkbox {*/
/*    position: relative;*/
/*    display: block;*/
/*    vertical-align: middle;*/
/*}*/

/*.checkbox input {*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*    z-index: 100;*/
/*}*/

/*.checkbox .checkbox-view {*/
/*    background-image: url("/themes/custom/assets/images/Checkbox.svg");*/
/*    height: 24px;*/
/*    width: 24px;*/
/*    margin: 0;*/
/*    display: inline-block !important;*/
/*    vertical-align: middle;*/
/*    margin-right: 5px;*/
/*}*/

/*.checkbox input:checked + .checkbox-view {*/
/*    background-image: url("/themes/custom/assets/images/Checkbox-Checked.svg");*/
/*}*/

/*.checkbox input:disabled + .checkbox-view {*/
/*    opacity: 0.5;*/
/*    cursor: not-allowed;*/
/*}*/





.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content {
    padding: 10px;
    display: none;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items {
    padding: 0;
    margin: 0;
    list-style: none none;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item {
    padding: 8px 0;
    color: #5E5E5E;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox {
    margin: 0;
}
.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox .checkbox-view,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox .checkbox-view {
    height: 16px;
    width: 16px;
    background-image: url(/themes/custom/assets/images/checkbox.svg?c3dbe347b49aaab5dc7e8332f51c9bf5);
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox input:checked + .checkbox-view,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox input:checked + .checkbox-view {
    background-image: url(/themes/custom/assets/images/checkbox-checked.svg?802912fd437c681ee53580c8b2635f94);
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .color-swatch,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .color-swatch {
    display: inline-block;
    margin-right: 5px;
    min-width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    float: right;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content .price-range-wrapper,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item .filter-attributes-content .price-range-wrapper {
    margin-top: 21px;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item.active .filter-attributes-content,
.main .category-container .responsive-layred-filter .filter-attributes .filter-attributes-item.active .filter-attributes-content {
    display: block;
}


/*account-content*/
.account-content .menu-block .menubar li a {
    @apply .w-full .text-gray-dark;
}

.account-content .menu-block .menubar li .icon {
    display: none;
    position: absolute;
    right: 12px;
}

.account-content .menu-block .menubar li:first-child {
    border-top: none;
}

.account-content .menu-block .menubar li:last-child {
    border-bottom: none;
}

.account-content .menu-block .menubar li.active a {
    @apply .text-gold .border-b .border-gold;
}

.account-content .menu-block .menubar li.active .icon {
    display: inline-block;
}

.account-content .account-layout .account-head .back-icon {
    display: none;
}

.account-content .account-layout .responsive-empty {
    display: none;
}

.account-table-content {
    @apply  .mt-2 .text-gray-cloud .text-lg;
}

.account-table-content table {
    width: 100%;
}

.account-table-content table tbody tr {
    @apply .h-12;
}

.account-table-content table tbody tr td:last-child {
    @apply .font-serif .text-gray-dark;
}

.address-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.address-card {
    width: 260px;
    border: 1px solid #C7C7C7;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.address-card .control-group {
    width: 15px;
    height: 15px;
    margin-top: 10px;
}

.address-card .details {
    font-weight: lighter;
}

.address-card .details span {
    display: block;
}

.address-card .details .control-links {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.address-card .details .control-links .btn {
    height: 30px;
}

/*end account-content*/








@media all and (max-width: 720px) {
    .header-bottom {
        height: auto;
        display: none;
    }
    .list-group .list-item:hover {
        @apply .text-gray-dark .border-b .border-gray-dim;
    }
    /*.account-content .menu-block .menubar {*/
    /*    display: none;*/
    /*}*/
}


/* Small (sm) */
@media (min-width: 640px) {
    .container-inner {
        max-width: 640px;
    }
}

/* Medium (md) */
@media (min-width: 768px) {
    .container-inner {
        max-width: 768px;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    .container-inner {
        max-width: 800px;
    }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
    /*    .main-container-wrapper {*/
    /*        max-width: 960px;*/
    /*    }*/
    .container-inner {
        max-width: 1280px;
    }
}

@media only screen and (max-width: 1200px) {
    .main-container-wrapper {
        max-width: 960px;
    }
}
